@font-face {
    font-family: myFont;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: myFontMoreThicker;
    src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@keyframes listElementHover{
    from{
        width: 1000;
    }
    to{
        width: 1020;
    }
}
@keyframes listElementDishover{
    from{
        width: 1020;
    }
    to{
        width: 1000;
    }
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
}
textarea {
    resize: none;
}
input{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
}
.center{
    position: relative;
    width: fit-content;
    
    left: 50%;
    transform: translate(-50%,0%);
}
#header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    background-color: rgba(23, 29, 150, 0);
    z-index: 100000;
}
.rowButton{
    float: left;
    margin: 0px 3px 0px 3px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.500);
    width: 200px;
    
    line-height: 200px;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
    font-size: 25px;
}
.rowButton:hover{
    cursor: pointer;
   
    animation-name: inscurimentoLogo;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
}
.rowButtonofGamePage{
    float: left;
    margin: 0px 3px 0px 3px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.800);
    width: 200px;
    
    line-height: 200px;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
    font-size: 25px;
    box-shadow: 0px 0px 5px black;
}
.rowButtonofGamePage:hover{
    cursor: pointer;
   
    animation-name: inscurimentoButtonIngamePage;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
}
.borderContainer{
    
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 150px 150px 200px 150px;
    
    border-style: solid;
    border-radius: 5px;
    border-color:rgba(239,46,126,255);
    box-shadow:0px 0px 10px 1px rgba(239,46,126,255);
    border-width: 5px;
}
.borderContainer:hover{
    animation: forwards;
    animation-name: ingrandimentoBoxShadow;
    animation-duration: 1s;

}
@keyframes ingrandimentoBoxShadow {
    0%{
        box-shadow:0px 0px 10px 1px rgba(239,46,126,255);
    }
    100%{
        box-shadow:0px 0px 20px 10px rgba(239,46,126,255);
    }
}
#mail{
    height: 50;
    width: 400;
    font-size: 25;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 0px 0px 0px 30px;
    outline: none;
}

.inputForField{
    height: 50;
    width: 400;
    font-size: 25;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 0px 0px 0px 30px;
    outline: none;
}

.Loginbutton{
    height: 50px;
    width: 150px;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: rgba(239,46,126,255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 20px;
}
#footer{
    position: relative;
    margin-top: 150px;
    left: 0px;
    
    width: auto;
    background-color: gray;
    height: 200px;
    margin-top: 170px;
}
.gameListElement{
    animation: forwards;
    animation-name: listElementDishover;
    animation-duration: 0.2s;

    padding: 10px 10px 10px 10px;
    height: 250;
    width: 1000;
    border-radius: 20px;
}
.gameListElement:hover{
    animation: forwards;
    animation-name: listElementHover;
    animation-duration: 0.2s;
}


.imageOnList{
    position: absolute;
    left: 35px;
    top:35;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.descriptionOnList{
    position: absolute;
    top:100px;
    left: 300px;
    width: 600px;
    background-color: rgba(112, 82, 38, 0);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 0px 30px 0px 0px;
    color: white;
    font-size: 20px;
    height: 40px;
    
}
#searchdiv{
    position: absolute;
    top: 25px;
    width:fit-content;
    
    height: 30px;
    width: 250px;
    font-size: large;
    color: white;
    
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    border-width: 0px;
    padding-left: 10px;
    
    background-image: url(/sources/backgroundimage.png);
    background-size:700px;
    background-repeat: no-repeat;
    
    background-position: 400 -400;
    background-color: black;
    
   
}


    

    

@keyframes ingrandimentoBarraDiricerca {
    from{
        height: 30px;
        width: 250px;
        background-position: 400px -400px;

    }
    to{
        height: 75px;
        width: 600px;
        
        border-radius: 40px;
        background-position: 0px 0px;
        
        
    }
}
@keyframes rimpicciolimentoRicerca {
    from{
        
        height: 75px;
        width: 600px;
        
        border-radius: 40px;
        background-position: 0px 0px;
        

    }
    to{
        height: 30px;
        width: 250px;
        border-radius: 20px;
        background-position: 400px -400px;

    }
}


#searchbar{
    
    background-color: #00000000;
    color: white;
    border: solid;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    height: 30px;
    width: 200px;
    
}
#searchbar:focus{
    outline: none;
}
@keyframes ingrandimentoTextField {
    from{
        
    }
    to{
        height: 50px;
        width: 450px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 30px;
    }
}
@keyframes rimpicciolimentoField {
    from{
        height: 50px;
        width: 450px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 30px;
    }
    to{
        height: 30px;
        width: 200px;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 15px;
        
        
    }
}
#searchbutt{
    
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border: solid;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    background-image: url("sources/search.png");
    background-position: 2px 2px;
    background-size: contain;
}
#ciao{
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
.nameofthegameongamelist{
    top:20px;
    background-color: rgba(240, 248, 255, 0.112);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    margin-left: 75px;
    
}
#logo{
    position:absolute;
    
    height: 125px;
    width: 225px;

    background-color: rgba(0, 0, 0, 0.500);
    left: 25px;
    border-radius: 70px;
    top:20px;
    box-shadow: 0px 0px 50px black;
}
#logo:hover{
    animation-name: inscurimentoLogo;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
}
#logoInPage{
    position:absolute;
    
    height: 125px;
    width: 225px;

    background-color: rgba(0, 0, 0, 0.700);
    left: 25px;
    border-radius: 70px;
    top:20px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#logoInPage:hover{
    animation-name: inscurimentoLogoInGamePage;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
}
@keyframes inscurimentoLogo {
    from{
        background-color: rgba(0, 0, 0, 0.500);
        text-shadow: 0px 0px 5px rgba(239,49,128,1);
        color: auto;
    }
    to{
        background-color: rgba(0, 0, 0, 0.700);
        text-shadow: 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1);
        color: rgb(244, 127, 175);
    }
}
@keyframes inscurimentoLogoInGamePage {
    from{
        background-color: rgba(0, 0, 0, 0.700);
        text-shadow: 0px 0px 5px rgba(239,49,128,1);
        color: auto;
    }
    to{
        background-color: rgba(0, 0, 0, 0.800);
        text-shadow: 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1);
        color: rgb(244, 127, 175);
    }
}
@keyframes inscurimentoButtonIngamePage {
    from{
        
        text-shadow: 0px 0px 5px rgba(239,49,128,1);
        color: auto;
    }
    to{
        
        text-shadow: 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1), 1px 1px 20px rgba(239,49,128,1);
        color: rgb(244, 127, 175);
    }
}
#dev-game-central-div{
    position: absolute;
    width: 1000px;
    min-height: 800px;
}
.colorOfInpageElement{
    background-color: rgba(0, 0, 0, 0.450);
    backdrop-filter: blur(50px);
    box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 60%);
}
.shadowOfListElement{
    background-color: rgba(0, 0, 0, 0.450);
    box-shadow:5px 5px 10px 1px rgba(0, 0, 0, 60%);
}


#dev-LogoGioco{
    position: relative;
    height: 400px;
    width: 400px;
    float: left;
    border-style: solid;
    border-color: rgba(180, 180, 180, 0);
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.rightFont{
    font-family: myFont;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

}
.rightFontLogginANDRegister{
    font-family: myFont;
    color: rgb(255, 255, 255);
}
.rightFontBlack{
    font-family: myFont;
    color: black;
    
}
.rightFontMoreThicker{
    font-family: myFontMoreThicker;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    
}
#dev-gameName{
    margin-top: 50px;
    margin-left: 20px;
    width: 500px;
    position:relative;
    float: left;
}
#dev-prezzo{
    position:relative;
    width: 545px;
    top:250px;
    
}
#dev-game-info{
    position: relative;
    
    left: 0px;
    width: 800px;
    padding: 0px 100px 50px 100px;
    background-color: rgb(63,63,63);
    }
.gradient{
    position: relative;
    
    left: 0px;
    width: 1000px;
    height: 50px;
    background: linear-gradient(180deg, rgba(63,63,63,0) 0%, rgba(63,63,63,0.9023984593837535) 51%, rgba(63,63,63,1) 96%, rgba(63,63,63,1) 100%);
}
.user-onPersonalArea{
    position: relative;
    top: 25px;
    height: 50px;
    width: auto ;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    font-size: 30px;
}
#buy-button{
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: xx-large;
    font-family: myFontMoreThicker;
    border:solid;
    border-color:white;
    border-radius: 25px;
    background-color: #000000;
    color: white;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    
}












#buy-button:hover{
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-top-width: 3px;
    border-color: rgb(255, 255, 255);
    
}
#addGameButt{
    position: absolute;
    top: -100px;
    height: 50px;
    width: 100px;
    left: 70% ;
    background-color: black;
    color: white;

    border-style: solid;
    border-radius: 10px;
    outline: none;
}

#addGameButt:hover{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
    color: black;
    border-width: 0px;
}
#add-comment-div{
    
    border: solid;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(83, 83, 83);
    padding: 30px 20px 20px 30px;
    box-shadow: inset 0px 0px 28px 1px #000000;
    
}

#commento{
    
    width: 600px;
    height: 200px;
    
}
.commento{
    border-radius: 10px;
    background-color: black;
    width: 800px;
    padding: 10px 10px 10px 10px;
    margin: 15px 0px 15px 0px;
}
.com-destra{
    position: absolute;
    top: 0px;
    left: 600px;
    width: 200px;
}
.com-sinistra{
    width: 600px;
}
#valutazione{
    width: 70px;
}
.commentThing{
    background-color: rgb(156, 156, 156);
    font-size: large;
    color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    border-width: 0px;
    
    box-shadow: inset 0px 0px 28px 5px rgb(83, 83, 83) ;
    
}
.commentThing:focus{
    
    box-shadow: inset 0px 0px 10px 5px rgb(83, 83, 83) ;
    
    outline: none;
}
#bottoneAggiuntaCommenti{
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: black;
    border: solid;
    border-color: black;
    color: white;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);

}
.main-list-element{
    position: relative;
    width: 261px;
    height: 320px;
    float: left;
    text-align: center;
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
    background-color: #00000000;
    padding:20px 0px 0px 0px;
    border-color: #00000000;
    
    
}
.main-list-element:hover{
    cursor: pointer;
    background-color: #1a2e5962;
    box-shadow: 0px 0px 20px #1a2e5962;

    
}
.main-list-img{
    position: relative;
    height: 200px;
    width: 200px;
    object-fit:cover;
    border-radius: 5px;
    
    
    
    
}

#content{
    position: relative;
    width: 800px;
    left: 50%;
    transform: translate(-50%,0%);
    height: max-content;
}
.main-list-name{
    width:fit-content;
    font-size:20;
    margin: 9px 2px 2px 2px;
}
@keyframes ingrandimentoImmagine {
    from{
        
        transform: scale(1);
    }
    to{

        
        transform: scale(1.1);
    }
}
@keyframes rimpicciolimentoImmagine {
    from{
        transform: scale(1.1);
    }
    to{

        transform: scale(1);
    }
}
.trolley-element{
    position: relative;
    background-color: #677dad;
    width: 400px;
    height: 70px;
    padding: 15px 15px 15px 15px;
    top: 100px;
}
.trolley-img{
    position: absolute;
    top: 15px;
    height: 70px;
    width: 70px;
}
.trolley-name{
    position: absolute;
    top: 0px;
    left: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30;
}
.trolley-cost{
    background-color: #869ac4;
    position: absolute;
    top: 0px;
    height: 100px;
    line-height: 70px;
    width: 100px;
    left: 330px;
    text-align: center;
}
.trolley-delete{
    position: absolute;
    top: 70px;
    left: 350px;
}