@font-face {
    font-family: myFont;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: myFontMoreThicker;
    src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@keyframes listElementHover{
    from{
        width: 1000;
    }
    to{
        width: 1020;
    }
}
@keyframes listElementDishover{
    from{
        width: 1020;
    }
    to{
        width: 1000;
    }
}
body{
    background-color: rgb(255, 255, 255);
    height: 100%;
}
textarea {
    resize: none;
}
input{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
}
.center{
    position: relative;
    width: fit-content;
    
    left: 50%;
    transform: translate(-50%,0%);
}
#header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    background-color: rgb(23, 30, 150);
    z-index: 100000;
}
.rowButton{
    float: left;
    margin: 0px 3px 0px 3px;
    height: 40px;
    background-color: rgb(129, 129, 129);
    width: 100px;
    text-align: center;
    line-height: 40px;
    
}
.rowButton:hover{
    cursor: pointer;
    background-color: rgb(182, 182, 182);
}
.borderContainer{
    
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 150px 150px 200px 150px;
    
    border-style: solid;
    border-radius: 5px;
    border-color:rgba(239,46,126,255);
    box-shadow:0px 0px 10px 1px rgba(239,46,126,255);
    border-width: 5px;
}
.borderContainer:hover{
    animation: forwards;
    animation-name: ingrandimentoBoxShadow;
    animation-duration: 1s;
    
   
    
}
@keyframes ingrandimentoBoxShadow {
    0%{
        box-shadow:0px 0px 10px 1px rgba(239,46,126,255);
    }
    100%{
        box-shadow:0px 0px 20px 10px rgba(239,46,126,255);
    }
}
#mail{
    height: 50;
    width: 400;
    font-size: 25;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 0px 0px 0px 30px;
    outline: none;

}
.inputForField{
    height: 50;
    width: 400;
    font-size: 25;
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 0px 0px 0px 30px;
    outline: none;
}
.Loginbutton{
    height: 50px;
    width: 150px;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: rgba(239,46,126,255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 20px;
}
#footer{
    position: relative;
    margin-top: 150px;
    left: 0px;
    width: auto;
    background-color: gray;
    height: 200px;
    margin-top: 170px;
}
.gameListElement{
    animation: forwards;
    animation-name: listElementDishover;
    animation-duration: 0.2s;

    padding: 10px 10px 10px 10px;
    height: 250;
    width: 1000;
    border-radius: 20px;
}
.gameListElement:hover{
    animation: forwards;
    animation-name: listElementHover;
    animation-duration: 0.2s;
}


.imageOnList{
    position: absolute;
    left: 35px;
    top:35;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.descriptionOnList{
    position: absolute;
    top:100px;
    left: 300px;
    background-color: rgba(112, 82, 38, 0.174);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 0px 30px 0px 0px;
}
#searchdiv{
    position: absolute;
    top: 25px;
    width:fit-content;
    
}

#searchbar{
    height: 30px;
    width: 200px;
    font-size: large;
    border-radius: 15px;
    padding-left: 10px;
}
#searchbutt{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-image: url("sources/search.png");
    background-position: 2px 2px;
    background-size: contain;
}
#ciao{
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
.nameofthegameongamelist{
    top:20px;
    background-color: rgba(240, 248, 255, 0.112);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
#logo{
    position:absolute;
    border-radius: 10px;
    height: auto;
    width: 100px;
    left: 25px;
    top:20px
}
#dev-game-central-div{
    position: absolute;
    width: 1000px;
    min-height: 800px;
}
.colorOfInpageElement{
    background-color: rgba(0, 0, 0, 0.450);
    backdrop-filter: blur(50px);
    box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 60%);
}
.shadowOfListElement{
    background-color: rgba(0, 0, 0, 0.450);
    box-shadow:5px 5px 10px 1px rgba(0, 0, 0, 60%);
}


#dev-LogoGioco{
    position: relative;
    height: 400px;
    width: 400px;
    float: left;
    border-style: solid;
    border-color: rgba(180, 180, 180, 0);
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.rightFont{
    font-family: myFont;
    color: rgb(0, 0, 0);
}
.rightFontLogginANDRegister{
    font-family: myFont;
    color: rgb(255, 255, 255);
}
.rightFontBlack{
    font-family: myFont;
    color: black;
}
.rightFontMoreThicker{
    font-family: myFontMoreThicker;
    color: white;
    
}
#dev-gameName{
    margin-top: 50px;
    margin-left: 20px;
    width: 500px;
    position:relative;
    float: left;
}
#dev-prezzo{
    position:relative;
    width: 545px;
    top:250px;
    
}
#dev-game-info{
    position: relative;
    
    left: 0px;
    width: 800px;
    padding: 0px 100px 50px 100px;
    background-color: rgb(63,63,63);
    }
.gradient{
    position: relative;
    
    left: 0px;
    width: 1000px;
    height: 50px;
    background: linear-gradient(180deg, rgba(63,63,63,0) 0%, rgba(63,63,63,0.9023984593837535) 51%, rgba(63,63,63,1) 96%, rgba(63,63,63,1) 100%);
}
.user-onPersonalArea{
    position: relative;
    top: 25px;
    height: 50px;
    width: auto ;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    font-size: 30px;
}
#buy-button{
    background: linear-gradient(170deg, rgba(157,211,50,1) 0%, rgba(130,156,81,1) 51%, rgba(116,143,63,1) 86%, rgba(81,98,48,1) 100%);
    width: 300px;
    height: 50px;
    font-size: xx-large;
    font-family: myFontMoreThicker;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    border-width: 0px;
}
#addGameButt{
    position: absolute;
    top: -100px;
    height: 50px;
    width: 100px;
    left: 70% ;
    background-color: black;
    color: white;

    border-style: solid;
    border-radius: 10px;
    outline: none;
}
#addGameButt:hover{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
    color: black;
    border-width: 0px;
}
